<!DOCTYPE html>
<html>
<head>
  <title>WebNei</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar topbar-responsive">
    <div class="top-bar-title">
      <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
      </span>
      <a class="topbar-responsive-logo" href="/"><strong>Web Nei</strong></a>
    </div>
    <div id="topbar-responsive" class="topbar-responsive-links">
      <div class="top-bar-right">
        <ul class="menu simple vertical medium-horizontal">
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
